SUPABASE_URL=https://jxkvpzvwpxrabsubovmt.supabase.co
SUPABASE_SERVICE_KEY=your-service-role-key-here
SUPABASE_ANON_KEY=your-anon-key-here



PORT=3000
FRONTEND_URL=http://localhost:5173


ANTHROPIC_API_KEY=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

STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=whsec_df0de8bb0cebdb3443b429755e1126755534cbb4beab99a0929da9a9cf08291e

INTERNAL_TOKEN=3f63a6ff9b83904bf9c1561e83b8f3ad

CF_ACCOUNT_ID=9c13b00830fb2676e505f2a0bc7b9531
CLOUDFLARE_API_TOKEN=cfut_WTtJOXLRix6FElbdD1fp0p8lwmyLtU0KeOMYgYSFc96949ca
